<div class="row">
  <div class="read-more">
    <p><%= @article.title %></p>
  </div>
</div>

<div class="space"></div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p class="article-text"><%= @article.text %></p>
    <hr>
    <% @article.comments.each do |comment| %>
    	<p>
  		<%= comment.commenter %>: <%= comment.body%>
	    </p>
      
      <p>
      <% if logged_in? && current_user.admin? %> 
      <%= link_to 'delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
      
    <% end %>
    <hr>
    <p class="about">What do you think?</p>

    <%= form_for([@article, @article.comments.build]) do |f| %>
    <p class="about">
    Name
    <% f.label :commenter %><br>
    <%= f.text_field :commenter, class: "comment-name" %>
    </p>
    <p class="about">
    Comment
    <% f.label :body %>
    <br>
    <%= f.text_area :body, class: "comment-text" %>
    </p>
    <p class="start-button">
    <%= f.submit "Submit", class: "btn-sm" %>
    </p>
    <% end %>

  <!--
  <%= link_to 'Edit', edit_article_path(@article) %> -->
  <p class="about"><%= link_to 'Back to news index', articles_path %></p>
  </div>
  <div class="col-md-3"></div>
</div>

