<div class="row">
  <div class="read-more">
    <p>
      <%= @article.title %>
    </p>
  </div>
</div>

<div class="space"></div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <p class="article-text"><%= @article.text %></p>

<h2></h2>
<% @article.comments.each do |comment| %>
	<p>Commenter:
		<%= comment.commenter %>
	</p>
	<p>Comment:
		<%= comment.body%>
	</p>
<% end %>
<hr>
<p>What do you think?</p>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    Name
    <% f.label :commenter %><br>
    <%= f.text_field :commenter, class: "comment-name" %>
  </p>
  <p>
    Comment
    <% f.label :body %><br>
    <%= f.text_area :body, class: "comment-text" %>
  </p>
  <p class="start-button">
    <%= f.submit "Submit", class: "btn-sm" %>
  </p>
<% end %>
  <!--
  <%= link_to 'Edit', edit_article_path(@article) %> -->
  <%= link_to 'Back to news index', articles_path %>
  
</div>
  <div class="col-md-3"></div>
</div>

