<% if logged_in? %>
  <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>

        <div class="col-md-8">
          <h3>MicroBlog Post Feed</h3>
          <%= render 'shared/feed' %>
        </div>
  </div>

<% else %>

<div class="row">
  <div class="jumbo">
     <div class="container">

      <p>MICROBLOG</p>
      <p>description, introduction etc.</p>
      <p class="start-button"><%= link_to "GET STARTED", signup_path, class: "btn-sm" %>
<!--         <%= link_to "Log in", login_path, class: "btn-sm" %></p>
 -->
<!--         <p><a class="btn btn-primary btn-lg" href="#" role="button">Find out more! &raquo;</a></p> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Contact</h2>
          <a href="mailto:huangkc05@gmail.com">
          <p>Email</p></a>
          <a href="#"><p>+1 917.518.6181</p></a>
          <a href="linkedin.com/in/huankc"><p>LinkedIn</p>
          <a href="https://twitter.com/huangkc05"><p>Twitter</p></a>
        </div>
  </div>
</div>


<% end %>

